# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
*.env

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
*.log

# VS Code/PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# PythonAnywhere
.pythonanywhere.com*

# Environment variables
.env
