{% extends "base.html" %}

{% block body_class %}view-bookings{% endblock %}

{% block content %}
<div class="container booking-list">
    <h2>Booking List</h2>
    <ul>
        {% for booking in bookings %}
            <li>
                <a href="{% url 'booking_detail' booking.pk %}">
                    Booking #{{ booking.pk }} - {{ booking.room.name }} at {{ booking.booking_time }}
                </a>
            </li>
        {% empty %}
            <li>No bookings found.</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <a href="{% url 'booking_create' %}">Create New Booking</a>
    {% endif %}
</div>
{% endblock %}
