{% extends 'base.html' %}

{% block body_class %}room{{ room.id }}-room riddle-{{ puzzle.order }}{% endblock %}

{% block content %}
    <h1>{{ room.name }}</h1>
    <div class="qa-container">
        <h2>{{ puzzle.name }}</h2>
        <p><strong>Riddle:</strong> {{ puzzle.question }}</p>
        <p>{{ puzzle.description }}</p>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="answer" placeholder="Make your guess" class="answer-box">
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}