{% extends 'base.html' %}


{% block content %}
    <h1>{{ room.name }}</h1>
    <p>{{ room.description }}</p>
    <p>Max players: {{ room.max_players }}</p>

    {% if puzzle %}
      <h2>{{ puzzle.name }}</h2>
      <p>{{ puzzle.description }}</p>
      <p><strong>Riddle:</strong> {{ puzzle.question }}</p>
      <form method="post">
        {% csrf_token %}
          <label for="answer">Your Answer:</label>
          <input type="text" id="answer" placeholder="Make your guess" required>
          <button type="submit">Submit</button>
      </form>
    {% else %}
      <p>You survived!</p>
    {% endif %}
{% endblock %}