{% extends 'base.html' %}

{% block content %}
    <h1>Team: {{ team.name }}</h1>
    <h2>Members:</h2>
    <ul>
        {% for member in members %}
            <li>{{ member.username }}</li>
        {% endfor %}

        {% if user.is_staff %}
            <p>
            <a href="{% url 'team_update' team.pk %}">Edit</a>
            <a href="{% url 'team_delete' team.pk %}">Delete</a>
            </p>
        {% endif %}
    </ul>
    <a href="{% url 'team_list' %}">← Back to Team List</a>
{% endblock %}