{% extends 'base.html' %}
{% block body_class %}team-detail{% endblock %}
{% block content %}
<div class="container team-detail">
    <h1>{{ team.name }}</h1>
    <h2>Members:</h2>
    <ul>
        {% for member in team.members.all %}
            <li>{{ member.username }}</li>
        {% empty %}
            <li>No members in this team yet.</li>
        {% endfor %}
    </ul>
    {% if user.is_staff %}
        <p>
            <a href="{% url 'team_update' team.pk %}">Edit</a>
            <a href="{% url 'team_delete' team.pk %}">Delete</a>
        </p>
    {% endif %}
    <a href="{% url 'team_list' %}">Back to Team List</a>
</div>
{% endblock %}
